html,body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
   
}

:root {
    --primary-bg-color:#1C1C1C;
    --primary-color: #5e0b69;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
body{
    height: 100%;
   
}

header,main,footer{
    z-index: 2;
   position: relative;
}
main{
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 0;
}

.navbar {
    display: flex;
    width: 100%;
    position: sticky;
    align-items: center;
    justify-content: center;
    top: 0px;
    background-size: cover;
    color: white;
    padding: 2rem 4rem;
    border-bottom: 1px solid rgb(122, 122, 122);
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li a {
    font-size: 1.8rem;
    margin-right: 2.5rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    /* Change the color on hover */
}

footer{
    height: 5rem;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 1.5rem;
}

           /*  ----------  MAIN PAGE  ----------  */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hello-text{
    display: fit-content;
    margin-top: 20vh;
    margin-bottom: 5vh;
    font-size:  8rem;
    letter-spacing: 1rem;
    font-family: 'Courier New', Courier, monospace;
    border-right: 0.6rem solid;
    width: fit-content;
    overflow: hidden;
    color:var(--primary-color);
    animation: 
        typing 2s steps(14),
        blink .5s step-end infinite alternate;
    white-space: nowrap;
}

#welcome-text{
    font-size: 2rem;
    color: white;
    text-align: center;
}

#btns-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin-top: 7rem;
}

#github-btn{
    font-size: 2.5rem;
    background-color: rgb(15, 15, 15);  
    border: 4px solid rgb(15, 15, 15);  
    border-radius: 2rem;
    color: white;    
    padding: 1.5rem 3.2rem;    
    text-align: center;    
    text-decoration: none;    
    display: flex;    
    cursor: pointer;
    width: fit-content;
}

#github-btn:hover{
    background-color: transparent;  
    border: 4px solid white;  
}

#view-btn{
    font-size: 2.5rem;
    background-color: transparent;  
    border: 4px solid var(--primary-color);  
    border-radius: 2rem;
    color: var(--primary-color);    
    padding: 1.5rem 3.2rem;    
    text-align: center;    
    text-decoration: none;    
    display: flex;    
    cursor: pointer;
    width: fit-content;
}

#view-btn:hover{
    background-color: var(--primary-color);
    color: white;
}

            /*  ----------  GENERIC  ----------  */

.ext-link {
    color: #bf36d1;
}
.page-content{
    margin-left: 25rem;
    margin-right: 25rem;
}

.page-header{
    color: white;
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    text-align: left;
}

.page-par{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: left;
    line-height: 2.3rem;
}

.code-par{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.page-h3{
    font-size: 2.5rem;
    color: white;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.page-h4{
    font-size: 2.2rem;
    color: white;
    text-align: left;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
}

.page-h5{
    font-size: 2rem;
    color: white;
    text-align: left;
    margin-top: 2.2rem;
    margin-bottom: 0.7rem;
}

.page-h6{
    font-size: 1.8rem;
    color: white;
    text-align: left;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
}

.ext-links{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: white;

}
            /*  ----------  PROJECTS PAGE  ---------- */

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.main-title{
    color: white;
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    text-align: center;
}

.project-card{
    width: 28rem;
    height: 33rem;    
    background: #383838;
    background: linear-gradient(143deg,rgba(40, 40, 40, 1) 60%, rgba(40, 40, 40, 0) 100%) padding-box,
    linear-gradient(142deg,rgba(94, 11, 105, 1)0%, rgba(94, 11, 105, 0.54)38%,rgba(94, 11, 105, 0)100%) border-box;
    margin: 5rem 3rem 2.5rem 3rem;  
    border-radius: 5%;
    border: 4px solid transparent;
    position: relative;
}


.project-name{
    color: white;
    font-size: 2.2rem;
    margin-top: 3rem;
    text-align: center;
}

.project-type{
    color: white;
    font-size: 1.6rem;
    margin-top: 2rem;
    text-align: center;
}

.project-desc{
    color: white;
    font-size: 1.4rem;
    margin: 2rem ;
    text-align: center;
    
}

.view-project-btn{
    color: white;
    font-size: 1.6rem;
    background-color: var(--primary-bg-color);  
    text-align: center;    
    display: block;
    width: fit-content;
    /*margin: 4rem auto;*/
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    border-radius: 1.1rem;
    padding: 1rem 2.2rem;    
    text-decoration: none;      
    cursor: pointer;
    position: absolute;
}

.view-project-btn:hover{
    border: 2px solid white;
}

            /*  ----------  PROJECT DETAILS  ----------  */
table{
    margin: 3rem auto 3rem auto;
}

th, td{
    color: white;
    font-size: 1.6rem;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 400;
    padding: 1rem;
    
}

.image-size{
    width: 100%;
    max-width: 700px;
    height: auto;
}


            /*  ----------  ANIMATION  ----------  */

@keyframes blink {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
    to {width: 15ch}
}

         /*  ----------  MEDIA STYLES  ----------  */ 

/*Modile*/
@media (max-width: 767px) {    
    html{
        font-size: 52%;
    }

    #hello-text{
        width: 100%;
        max-width: 8ch;
        font-size: 6.5rem;
        white-space: normal;
        margin-top: 10vh;
    }

    #btns-container{
        flex-direction: column;
        align-items: center;
        
    }

   .page-content{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .page-header{
        color: white;
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .project-card{
        margin: 5rem 1.5rem 1.5rem 1.5rem;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {    
    
    #hello-text{
        font-size: 6.2rem;
    }

    #welcome-text{
        font-size: 1.9rem;
    }

    .about-content{
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .cards{
        width: 90%;
        
    }

    .project-card{
        margin: 5rem 1.5rem 1.5rem 1.5rem;
    }
}
